*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Paleta de colores
$color1:aquamarine;
$color2: teal;

body{
    background-color: gainsboro;
}


header{
    height: 30px;
    width: 100%;
    background-color: $color1;
    padding: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.logo{
    font-size: x-large;
    float: left;
    font-weight: bold;
}

.barra ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

.barra a{
    text-decoration: none;
    color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

/*Inicio*/
h1{
    text-align: center;
    margin-top: 100px;
    color: $color2;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
}

.descripcion{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding-top: 50px;
    color: black;
}

.imgprincipal{
    margin-top: 30px;
}

.titulo h2{
    color: $color2;
    margin-left: 70px;
    margin-top: 70px;   
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
    text-decoration: underline;
}

.titulo p{
    margin: 70px;
    font-size: 25px;
}

.caracteristica1{
    text-align: center;
    margin-right: 40px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bolder;
    width: 40%;
    border: 5px solid $color2;
    padding: 15px; 
    border-radius: 40px;
}

.caracteristica2{
    margin-left: 40px;
    margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-weight: bolder;
    width: 40%;
    border: 5px solid $color2;
    padding: 15px;
    border-radius: 40px;
    text-align: center;
}

.caracteristica3{
    @extend .caracteristica2;
}

.imagen{
    float: right;
    margin-right: 90px;
    margin-bottom: 700px;
}

/*Elementos*/

.tituloelementos{
    text-align: center;
    margin-top: 100px;
    color: $color2;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
}

/*Deportes*/

.titulodeportes{
    text-align: center;
    margin-top: 100px;
    color: $color2;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}

.deporte3{
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
}

.deporte2{
@extend .deporte3;
}

.deporte1{
@extend .deporte3;
}

/*Equipos*/

.tituloequipos{
    text-align: center;
    margin-top: 100px;
    color: $color2;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
}

.tituloequipos p{
    font-size: 35px;
    margin-top: 50px;
    color: black;
}

/*Contacto*/

form{
    display: grid;
    justify-content: center;
    padding: 100px;
}

form input{
    border-color: black;
}

.titulocontacto{
    text-align: center;
    margin-top: 100px;
    color: $color2;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}

.subtitulo{
    text-align: center;
    color: $color2;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

.redes{
    text-align: center;
    font-size: 70px;
    padding: 40px;
}

.redes a{
    text-decoration: none;
    color: black;
}

footer{
    background-color: grey;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    margin-top: 90px;
    height: 250px;
    width: 100%;
}

.titulof{
    margin-bottom: 20px;
}

.redesf a{
    color: $color1;
    text-decoration: none;
    font-size: 40px;
}

.sec{
    width: 100%;
}

main{
    text-align: center;
}

section{
    margin-top: 40px;
    font-size: 40px;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
}
