@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
}

header {
  height: 80px;
  width: 100%;
  background-color: aquamarine;
  padding: 20px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

.logo {
  font-size: x-large;
  float: left;
  font-weight: bold;
}

.barra {
  float: right;
}

.barra ul li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}

.barra a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  margin-top: 100px;
  color: teal;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px black;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes aparecer{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.descripcion {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding-top: 50px;
  color: black;
}

.imgprincipal {
  margin-top: 30px;
}

.titulo h2 {
  color: teal;
  margin-left: 70px;
  margin-top: 70px;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  font-size: xx-large;
  text-decoration: underline;
}

.titulo p {
  margin: 70px;
  font-size: 25px;
}

.caracteristica1 {
  text-align: center;
  margin-right: 40px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bolder;
  width: 40%;
  float: right;
  border: 5px solid teal;
  padding: 15px;
  border-radius: 40px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 0,5s;
  animation-direction: alternate;
  animation-iteration-count: initial;
}
@keyframes aparecer{
  from{
  opacity: 0;
  }
  to{
  opacity: 1;
  } 
}


.caracteristica2 {
  margin-left: 40px;
  margin-top: 80px;
  text-align: justify;
  font-size: 20px;
  font-weight: bolder;
  width: 40%;
  border: 5px solid teal;
  padding: 15px;
  border-radius: 40px;
  text-align: center;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 0,5s;
  animation-direction: alternate;
  animation-iteration-count: initial;
}
@keyframes aparecer{
  from{
  opacity: 0;
  }
  to{
  opacity: 1;
  } 
}


.caracteristica3 {
  margin-left: 40px;
  margin-top: 100px;
  text-align: left;
  font-size: 20px;
  font-weight: bolder;
  width: 40%;
  border: 5px solid teal;
  padding: 15px;
  border-radius: 40px;
  text-align: center;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-delay: 0,5s;
  animation-direction: alternate;
  animation-iteration-count: initial;
}
@keyframes aparecer{
  from{
  opacity: 0;
  }
  to{
  opacity: 1;
  } 
}





.tituloelementos {
  text-align: center;
  margin-top: 100px;
  color: teal;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  font-size: 100px;
}

.titulodeportes {
  text-align: center;
  margin-top: 100px;
  color: teal;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
}

.deporte3 {
  text-align: center;
  font-size: 40px;
  margin-top: 70px;
}

.deporte2 {
  text-align: center;
  font-size: 40px;
  margin-top: 70px;
}

.deporte1 {
  text-align: center;
  font-size: 40px;
  margin-top: 70px;
}

.tituloequipos {
  text-align: center;
  margin-top: 100px;
  color: teal;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
}

.tituloequipos p {
  font-size: 35px;
  margin-top: 50px;
  color: black;
}

form {
  display: grid;
  justify-content: center;
  padding: 100px;
}

form input {
  border-color: black;
}

.titulocontacto {
  text-align: center;
  margin-top: 100px;
  color: teal;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
}

.subtitulo {
  text-align: center;
  color: teal;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}

.redes {
  text-align: center;
  font-size: 70px;
  padding: 40px;
}

.redes a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: grey;
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  margin-top: 90px;
  height: 250px;
  width: 100%;
}

.titulof {
  margin-bottom: 20px;
}

.redesf a {
  color: aquamarine;
  text-decoration: none;
  font-size: 40px;
}

.sec {
  width: 100%;
}

main {
  text-align: center;
}

section {
  margin-top: 40px;
  font-size: 40px;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
}

/*# sourceMappingURL=Estilos.css.map */
